@import url('http://fonts.googleapis.com/css?family=Roboto');

.main {
    margin: 20px;
}

.code {
    padding: 3px;
    background-color:black;
    color:bisque;
}

.screengrab {
    margin: 30px;
}